<section class="viewblock">
  <header class="viewblock-header">
    <h1 class="default-padding"><%= t(:new_kind) %></h1>
  </header>
  <div class="viewblock-cont">
    <%= render :partial => 'kinds/form', :locals => { :button_text => t('create_kind') } %>
  </div>
</section>
