<h1>Concerto is coming soon!</h1>
<p>Administrators: To configure this screen, you will need the following code:
  <%# The following span is used to identify this page to the javscript. %>
  <span id="screen_temp_token"><strong><%= @temp_token %></strong></span>
</p>

<p>Screen configuration is a three-step process.</p>
<ol>
  <li>On your PC or moble device, Log in to the Concerto Control Panel and visit the Screens page.</li>
  <li>If this is a brand-new screen, click "New Screen" and fill out the relevant details. The Screen should not be public. Use the code given above as the authorization code.<br/></li>
  If this PC is being reconfigured or is replacing an existing screen, simply click on that screen, click edit, make sure the screen is not public, and enter the authorization code.**</li>
  <li>Finally, take a look at your new screen. After a moment, your template should appear before your eyes!</li>
</ol>
<p><em>** You need to do this on the console for now, for example</em> Screen.find(1).update_attribute('authentication_token', 'temp:<%= @temp_token%>')  <em>(TODO)</em></p>
