<% if !activities.empty? %>
  <ul class="list-stacked condensed">
  <% activities.each do |activity| %>
    <%# if File.exists?(Rails.root.join("app", "views", "public_activity", activity.key.split('.')[0], "_#{activity.key.split('.')[1]}.html.erb")) %>
    <% 
    begin
      a = render_activity activity 
    rescue => e
      Rails.logger.error('public_activity view not found ' + e.message)
      a = nil
    end
    %>
    <% if !a.nil? %>
      <li><b><%= activity.created_at.strftime("%D, %l:%M") %>:</b> <%= a %></li>
    <% end %>
  <% end %>
  </ul>
<% end %>
