<section class="viewblock">
  <header class="viewblock-header">
    <h1 class="default-padding"><%= t('.latest_activity') %></h1>
  </header>
  <div class="viewblock-cont">
    <%= render :partial => 'activities/show' %>
  </div>
</section>
