<li>
  <% link_to content do %>
    <%= render_content(content, { type: 'grid' }) %>
    <h1><%= content.name %></h1>
    <h2><%= content.start_time.strftime('%b %d') %> - <%= content.end_time.strftime('%b %d') %></h2>
  <% end %>
</li>
