<fieldset>
  <legend><span><%=t(:data)%></span></legend>
  <div class="clearfix">
    <label><%=t(:data)%></label>
    <div class="input">
      <%= form.text_field :data %>
    </div>
  </div>
</fieldset>
