<section class="viewblock">
  <header class="viewblock-header">
    <div class="viewblock-header_right default-padding">  &nbsp;
    </div>
    <h1 class="default-padding"><%= t('.edit_content', :type => @content.class.display_name)%></h1>
  </header>
  <div class="viewblock-cont">
    <%= render 'edit_form' %>
  </div>
</section>
