<p style="color: green"><%= notice %></p>

<h1>Contents</h1>

<div id="contents">
  <% @contents.each do |content| %>
    <%= render content %>
    <p>
      <%= link_to "Show this content", content %>
    </p>
  <% end %>
</div>
