<section class="C no">
  <header id="browse-header">
    <%= render :partial => "contents/browse_header" %>
  </header>
  <div id="browse-body" class="C-cont">
    <%= render :partial => "contents/browse_body" %>
  </div>
</section>