<div class="C-full sm">
	<div class="C-header">
		<div class="C-header_back"><a class="button back" href="#" onclick="this.blur();"><span>Back</span></a></div>
		<div class="C-header_right"><a class="button" href="#" onclick="this.blur();"><span>Design a Graphic</span></a></div>
		<h1>Browse Content</h1>
	</div> 
	<div class="C-cont">
		<div class="C-center column">
			<a class="button" href="#" onclick="this.blur();"><span>Design a Graphic</span></a>
			<% @contents.each do |content| %>
			<ul class="iconlist"> 
				  	<li> 
				  		<a href=""> 
				  			<div class="iconlist_padding"> 
			        			<div class="ins"> 
			          				<div class="type-folder"><%= content.data %><%#= image_tag("ph/ph.png", :alt => "") %></div>
			        			</div> 
			        			<h2>
									<%= content.name %>
									<br />
									<%= content.start_time %> - <%= content.end_time %>
								</h2> 
			      			</div> 
				  		</a> 
				  	</li>
			</ul>
			<% end %>
		</div> 
		<div class="C-sidebar column"> 
			Sidebar
		</div>
		<div class="clear"></div>
	</div>
	<div class="C-footer">&nbsp;</div>
</div>