<p style="color: green"><%= notice %></p>

<h1>Contents</h1>

<div id="contents">
  <% @contents.each do |content| %>
    <p>
      <%= content.name %> - <%= link_to "Show this content", content %>
    </p>
  <% end %>
</div>

<%= link_to "New content", new_content_path %>
