<%= page_title "Content" %>
<p style="color: green"><%= notice %></p>

<h1 class="text-xl">All Content</h1>

<%= render partial: "grid", locals: {contents: @contents} %>

<%= link_to "New content", new_content_path, class: "btn" %>
