<div class="row-fluid">
  <div class="span2 collapse-right">
    <br /><br />
    <ul class="nav nav-tabs nav-stacked nav-drawer-left">
      <li class="nav-header">Add content type:</li>
      <% content_types.each do |subclass| %>
  			<li<% if @content.class.to_s == subclass.model_name.human %> class="active"<% end %>>
  				<%= link_to subclass.model_name.human, new_content_path(:type => subclass.model_name.singular) %>
  			</li>
			<% end %>
    </ul>
  </div>
  <div class="span10">
    <section class="C">
    	<header class="C-header">
    		<div class="C-header_right"><a class="button" href="#"><%=t(:design_graphic)%></a></div>
    		<h1><%= t(:add) + " " + @content.class.to_s + " " + t(:content) %></h1>
    	</header> 
    	<div class="C-cont">
    		<%= render 'form' %>
    		<div class="clear"></div>
    	</div>
    </section>
  </div>
</div>