<div class="MS-frame">
	<h1>Select Type</h1>
	<div class="MS-outer">
		<div class="MS-inner">
			<ul class="iconlist">
				<% content_types.each do |subclass| %>
				<li> 
			  		<% link_to new_content_path(:type=>subclass.model_name.singular) do %> 
			  			<div class="iconlist_padding"> 
		        			<div class="ins"> 
		          				<div class="type-folder"><%= image_tag("ph/ph.png", :alt => "") %></div>
		        			</div> 
		        			<h2><%= subclass.model_name.human %></h2> 
		      			</div> 
			  		<% end %> 
			  	</li>
				<% end%>
			</ul>
			<div class="clear"></div>
		</div>
	</div>
</div>

<div class="C-full lg">
	<div class="C-header">
		<div class="C-header_back"><a class="button back" href="#" onclick="this.blur();"><span>Back</span></a></div>
		<div class="C-header_right"><a class="button" href="#">Design a Graphic</a></div>
		<h1>Add <%= @content.class %> Content</h1>
	</div> 
	<div class="C-cont">
		<div class="C-center column">
			<%= render 'form' %>
		</div> 
		<div class="C-sidebar column"> 
			<%# content_for :left_sidebar do %>
			<%# end %>
		</div>
		<div class="clear"></div>
	</div>
</div>
