<section class="viewblock">
  <header class="viewblock-header">
    <div class="viewblock-header_right default-padding">  &nbsp;
    </div>
    <h1 class="default-padding"><%= t(:add) + " " + @content.class.display_name + " " + t(:content) %></h1>
  </header>
  <div class="viewblock-cont">

    <div class="subnav clearfix">
      <ul class="nav nav-tabs">
        <% allowed_types = allowed_content_types(@feeds) %>
        <% available_types = content_types.delete_if{ |subclass| !allowed_types.include?(subclass.name)} %>
        <% available_types.sort_by!{|subclass| (subclass.name == @content.class.name ? '00' : '') + subclass.display_name} %>
        <% available_types.each do |subclass| %>
          <li <% if @content.class.name == subclass.name %> class="active"<% end %>>
            <%= link_to subclass.display_name, new_content_path(:type => subclass.model_name.singular) %>
          </li>
        <% end %>
      </ul>
    </div>

    <%= render 'form' %>
  </div>
</section>
