<h1>New content</h1>

<ul>
  <li><%= link_to "New graphic", new_graphic_path %></li>
  <li><%= link_to "New rich text", new_rich_text_path %></li>
</ul>

<div>
  <%= link_to "Back to contents", contents_path %>
</div>
