<section class="C">
	<header class="C-header" id="browse-header">
    <%= render :partial => "contents/show_header" %>
	</header>
	<div class="C-cont" id="browse-body">
    <%= render :partial => "contents/show_body" %>
    <div class="clear"></div>
	</div>
</section>
