<p style="color: green"><%= notice %></p>

<%= render @content %>

<div>
  <%= link_to "Back to contents", contents_path %>

  <%= button_to "Destroy this content", @content, method: :delete %>
</div>
