<section class="viewblock">
	<header class="viewblock-header" id="browse-header">
    <%= render :partial => "contents/show_header" %>
	</header>
	<div class="viewblock-cont" id="browse-body">
    <%= render :partial => "contents/show_body" %>
    <div class="clear"></div>
	</div>
</section>
