<%
#Default values
current ||= nil?
feeds ||= Feed.roots
%>
<ul>
  <% feeds.each do |feed| %>
    <li <% if current == feed %> class="selected"<% end %>><%= link_to feed.name, feed %></li>
  <% end %>
</ul>
