<section class="viewblock">
  <header class="viewblock-header">
    <h1 class="default-padding"><%= t(:edit_feed)%></h1>
  </header>
  <div class="viewblock-cont">
    <%= render :partial => 'feeds/form', :locals => { :button_text => t('edit_feed') } %>
  </div>
</section>