<section class="viewblock">
  <header class="viewblock-header">
    <%= back_button feeds_path %>
    <h1 class="default-padding"><%= t(:edit_feed)%></h1>
  </header>
  <div class="viewblock-cont">
    <%= render 'form' %>
  </div>
</section>
