<section class="C">
	<header class="C-header">
		<%= back_button feeds_path %>
		<h1 class="default-padding"><%= t(:edit_feed)%></h1>
	</header>
	<div class="C-cont">
		<%= render 'form' %>
		<div class="clear"></div>
	</div>
</section>