<%= render :partial => "layouts/motd" %>
<section class="viewblock">
  <header class="viewblock-header" id="browse-header">
    <%= render :partial => "feeds/browse_header" %>
  </header>
  <div id="browse-body" class="viewblock-cont">
    <%= render :partial => "feeds/browse_body" %>
  </div>
</section>