<p style="color: green"><%= notice %></p>

<h1>Feeds</h1>

<div id="feeds">
  <% @feeds.each do |feed| %>
    <%= render feed %>
    <p>
      <%= link_to "Show this feed", feed %>
    </p>
  <% end %>
</div>

<%= link_to "New feed", new_feed_path %>
