<div class="COLFR width75x25">
	<div class="col1">
		<section class="C no">
			<header>
				<%= back_button feeds_path %>
				<h1><%=t(:new_feed)%></h1>
			</header>
			<div class="C-cont">
				<article>
					<%= render 'form' %>
				</article>
				<div class="clear"></div>
			</div>
		</section>
	</div>
	
	<div class="col2">
		<section class="C no">
			<header></header>
			<div class="C-cont">
				<article>
					<p>You already have administrative control over these feeds:</p>
					
				</article>
				<div class="clear"></div>
			</div>
		</section>
	</div>
	<div class="clear"></div>
</div>