<section class="viewblock">
	<header class="viewblock-header">
		<%= back_button feeds_path %>
		<h1 class="default-padding"><%=t(:new_feed)%></h1>
	</header>
	<div class="viewblock-cont">
		<%= render 'form' %>
		<div class="clear"></div>
	</div>
</section>