.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
tmp/restart.txt
config/database.yml
public/.htaccess
.DS_Store
doc/app/*
public/assets/*
public/frontend_js/compiler.jar
vendor/bundle/
doc/coverage/*
.ruby-version
.ruby-gemset
.powrc
Gemfile-plugins.bak
Gemfile.local
*.sublime*