<%= devise_error_messages! %>
<section class="viewblock no">
  <% if ConcertoConfig[:setup_complete] == "false" && User.all.empty? %>
    <%= render :partial => 'new_first_admin' %>
  <% else %>
    <%= render :partial => 'new_user' %>
  <% end %>
</section>
