<ul class="list-grid">
  <% thumbs.each do |screen| %>
    <li>
      <div class="cont thumb-icon">
        <%= link_to screen do %>
          <i class="icon-controller-screens"></i>
        <% end %>
      </div>
      <div class="cont">
        <p><b><%= link_to screen.name, screen %></b></p>
        <p><%= screen.location %></p>
        <p class="muted"><%= screen.fields.count %> fields</p>
      </div>
    </li>
  <% end unless thumbs.nil? %>
</ul>
