<section class="C">
	<header class="C-header">
		<%= back_button :back %>
		<h1>Edit Screen</h1>
	</header>
	<div class="C-cont">
		<%= render 'form' %>
		<div class="clear"></div>
	</div>
</section>
