<section class="viewblock">
	<header class="viewblock-header">
		<%= back_button :back %>
		<h1 class="default-padding">Edit Screen</h1>
	</header>
	<div class="viewblock-cont">
		<%= render 'form' %>
		
	</div>
</section>
