<section class="C no">
  <header id="screens-header">
    <h1>All Screens <%= link_to 'New Screen', new_screen_path, :class => "btn" if can? :create, Screen %></h1>
  </header>
  <div id="screens-body" class="C-cont">
    <%= render :partial => "screens/index_body" %>
  </div>
</section>
