<section class="viewblock">
	<header class="viewblock-header">
		<%= back_button screens_path %>
		<h1 class="default-padding"><%= t('new_screen') %></h1>
	</header>
	<div class="viewblock-cont">
		<%= render 'form' %>
		
	</div>
</section>
