<section class="viewblock">
	<header class="viewblock-header">
		<h1 class="default-padding"><%= t('new_screen') %></h1>
	</header>
	<div class="viewblock-cont">
		<%= render :partial => 'screens/form', :locals => { :button_text => t('create_screen') } %>
	</div>
</section>