<section class="viewblock">
  <header class="viewblock-header" id="screens-header">
    <%= render :partial => "screens/show_header" %>
  </header>
  <div id="screens-body" class="viewblock-cont">
    <%= render :partial => "screens/show_body" %>
    <div class="clear"></div>
  </div>
</section>
