<section class="C">
  <header id="screens-header">
    <%= render :partial => "screens/screen_header" %>
  </header>
  <div id="screens-body" class="C-cont">
    <%= render :partial => "screens/screen_body" %>
  </div>
</section>
