<section class="C">
  <header class="C-header" id="screens-header">
    <%= render :partial => "screens/show_header" %>
  </header>
  <div id="screens-body" class="C-cont">
    <%= render :partial => "screens/show_body" %>
    <div class="clear"></div>
  </div>
</section>
