<div class="clearfix">

  <% if @templates.empty? %>
  <div class="default-padding">
    <h3><%= t('.no_templates_html', :href => link_to(t('.add_one'), new_template_path)) %></h3>
  </div>
  <% else %>
  <div class="default-padding">
    <ul class="list-grid">
      <%= render @templates[0..4] %>
    </ul>
    <% end %>
  </div>

</div>
