<%= link_to '[Edit]', edit_template_path(@template) %>

<article>
  <%= image_tag preview_template_path(@template, :format => :png), :style => "width: 100%", :alt => "#{@template.name} Preview" %>
</article>
<aside>
  <p>
	  <b>Author:</b>
	  <%= @template.author %>
	</p>
</aside>

