<section class="C">
	<header class="C-header" id="template-header">
		<%= back_button template_path(@template), :back %>
		<h1 class="default-padding">Editing template</h1>
	</header> 
	<div class="C-cont">
		<%= render 'form', :locals => { :template => @template } %>
		<div class="clear"></div>
	</div>
</section>
