$('#browse-header').html("<h1>All Templates <%= escape_javascript(link_to 'New Template', new_template_path, :class => "btn") %></h1>");
$('section.C').addClass('no');
$('#browse-body').html("<%= escape_javascript(render :partial => 'templates/index_body') %>");
