<section class="viewblock">
  <header class="viewblock-header" id="browse-header">
    <div class="viewblock-header_right">
      <div class="button-padding">
        <%= link_to t(:new_model, :model => ::Template.model_name.human), new_template_path, :class => "btn" if can? :create, @templates %>
      </div>
    </div>
    <h1 class="default-padding"><%= t :all_model, :model => ::Template.model_name.human.pluralize %></h1>
  </header>
  <div id="browse-body" class="viewblock-cont">
    <div class="default-padding">
      <ul class="list-grid">
        <%= render @templates %>
      </ul>
    </div>
  </div>
</section>
