<section class="viewblock">
  <header class="viewblock-header" id="browse-header">
    <h1 class="default-padding">All Templates <%= link_to 'New Template', new_template_path, :class => "btn" if can? :create, @templates %></h1>
  </header>
  <div id="browse-body" class="viewblock-cont">
    <%= render "index_body" %>
    <div class="clear"></div>
  </div>
</section>
