<section class="C no">
  <header id="browse-header">
    <%= back_button :back %>
    <h1>New Template</h1>
  </header>
  <div id="browse-body" class="C-cont">
    <%= render 'form' %>
  </div>
</section>
