<section class="C">
  <header class="C-header" id="templates-header">
    <%= render :partial => "templates/show_header" %>
  </header>
  <div id="templates-body" class="C-cont">
    <%= render :partial => "templates/show_body" %>
    <div class="clear"></div>
  </div>
</section>