<section class="viewblock">
  <header class="viewblock-header" id="templates-header">
    <%= render partial: "templates/show_header" %>
  </header>
  <div id="templates-body" class="viewblock-cont">
    <%= render partial: "templates/show_body" %>
    
  </div>
</section>
