
<%= render @template %>

<div>
  <% if policy(@template).edit? %>
    <%= link_to "Edit this template", edit_template_path(@template) %> |
  <% end %>
  <%= link_to "Back to templates", templates_path %>

  <% if policy(@template).destroy? %>
    <%= button_to "Delete this template", @template, method: :delete %>
  <% end %>
</div>
