/* Concerto 2 - CSS: BASE */
/* Designed by the Web Technologies Group (http://webtech.union.rpi.edu) in 2010. */


/*##########################################################################*/
/*##########################################################################*/
/*  BASE CSS  */
/*##########################################################################*/
/*##########################################################################*/


/*##########################################################################*/
/*  Frame and Resets  */
/*##########################################################################*/

html{color:#000;background:#eee url(../images/layout/pagebg.gif) center center repeat; font-family:"Lucida Grande",Arial,sans-serif;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;font-size:100%;}
body { min-width:800px; }
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,b,th,var,optgroup{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
b, strong { font-weight:bold; }
legend{color:#000;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}
small { font-size:0.6em; }

a { color:#006699; text-decoration:none; font-weight:bold; }
a:hover { text-decoration:underline; }
a:visited { color:#9d11b3; }

#main { padding:100px 3% 10px 3%; }
.clear { clear:both; }


/*##########################################################################*/
/*  Headers  */
/*##########################################################################*/

h1, h2, h3, h4, h5, h6, h7 { font-family:"Myriad Pro", Helvetica, Arial, sans-serif; line-height:normal; }
h1 { font-size:3em; font-weight:400; }
h1.header { text-transform: uppercase; font-size:1.3em; letter-spacing:0.15em; padding:6px 0; margin-bottom:16px; }
h1.indented { padding-left:8px !important; }
h1.subpage_header { font-size:3em;margin-bottom:8px !important; }
h1 small { padding-left:12px; }
h2 { font-size:2.5em; }
h3 { font-size:2em; }
h4 { font-size:1.7em; }
h5 { font-size:1.3em; }


/*##########################################################################*/
/*  Content Cells  */
/*##########################################################################*/

/*##########  BASIC LAYOUT  ##########*/
.C-full { margin-bottom:18px; border-radius:8px; -moz-border-radius:8px; box-shadow: #ababab 0 3px 2px; -moz-box-shadow:#ababab 0 3px 2px; -webkit-box-shadow: #ababab 0 3px 2px; }
.C-header { background:#FFF url(../images/layout/C/header_bg.png) bottom left repeat-x; padding:12px 14px; padding-bottom:5px; border:solid 1px #ababab; border-bottom:0px; border-top-left-radius:8px; -moz-border-radius-topleft:8px; border-top-right-radius:8px; -moz-border-radius-topright:8px; }
.C-header h1 { color:#666; font-size:1.8em; letter-spacing:-0.05em; text-shadow:0 1px #eee; padding-top:9px; }
.C-cont { padding-left:184px; border-left:solid 1px #ababab; border-right:solid 1px #ababab; }
.C-cont .column { position:relative; float:left; }
.C-center { padding:0px; width:100%; }  /* padding inside of this div should be determined by the contained content, not by a wrapper div defined here! */
.C-sidebar { min-height:300px; width:164px; padding: 0 10px; right:184px; margin-left:-100%; }
.C-header_back { float:left; margin-left:-37px; padding-top:12px; margin-right:8px; }  /* This is an optional floated area for the back button that appears to the left of the header. */
.C-header_right { float:right; padding-top:8px; margin-left:20px; }  /* this is an optional floated area that appears to the right of the header */

/* for each variant, overwrite the padding-left for C-cont and change the background image to fit the right faux columns */
/* SMALL VARIANT (most things, esp. browsing content in feeds) */
.C-full.sm .C-cont { background:#FFF url(../images/layout/C/bg_sm.png) top left repeat-y; }
.C-full.sm .C-sidebar { background:url(../images/layout/C/sidebar_sm.png) top left no-repeat; }
/* LARGE VARIANT (Add Content with live preview screen) */
.C-full.lg .C-cont { background:#FFF url(../images/layout/C/bg_lg.png) top left repeat-y; padding-left:318px; }
.C-full.lg .C-sidebar { background:url(../images/layout/C/sidebar_lg.png) top left no-repeat; width:298px; right:318px; }
/* NO-SIDEBAR VARIANT (Basic New/Edit Forms) */
.C-full.no .C-cont { background:#FFF; padding-left:0px; }
.C-full.no .C-sidebar { background:#FFF; width:0; display:none; }	/* this div can be omitted completely if desired */ 


/*##########################################################################*/
/*  Buttons  */
/*##########################################################################*/

/*##########  DEFAULT BUTTON LINK: BLUE NORMAL  ##########*/
a.button, form .submit_bar input { cursor:pointer; box-shadow:0 0 0; -webkit-box-shadow: 0 0 0; -moz-box-shadow:0 0 0;height:22px; padding:4px 20px 0px 20px; font-weight:bold; color:#FFF;float:left;letter-spacing:-0.08em;text-shadow:0 -1px #003366;font-size:0.8em;margin-right:6px;text-decoration:none; background:url(../images/layout/button_norm_states.png) top left repeat-x; border:solid 1px #003366; border-radius:4px; -moz-border-radius:4px; }
form .submit_bar input { height:auto; padding:4px 20px 6px 20px; }
a.button:hover, form .submit_bar input:hover { background-position:100% -26px; color:#000033; text-shadow:0 -1px #eee; border:solid 1px #2f84da; }
a.button:active, form .submit_bar input:active { background-position:100% 100%;color:#333;text-shadow:0 1px #eee;outline:none; height:20px; padding:6px 20px 0px 20px; box-shadow:inset 0 0px 6px #000; -webkit-box-shadow:inset 0 0px 6px #000; -moz-box-shadow:inset 0 0px 6px #000; border:solid 1px #000; }
form .submit_bar input:active { height:auto; padding:6px 20px 4px 20px; }

/* Special Rules: */
.C-header_right a.button { margin-right:0px; margin-left:6px; }

/*##########  BLUE BACK BUTTON  ##########*/
a.back {background:transparent url(../images/layout/button_back_states.png) no-repeat scroll top left; font-size:0.7em; box-shadow:0 0 0; -webkit-box-shadow: 0 0 0; -moz-box-shadow:0 0 0; border:0; border-right:solid 1px #396bab; border-top-left-radius:4px; -moz-border-radius-topleft:4px; border-top-right-radius:4px; -moz-border-radius-topright:4px; height:18px; padding:4px 12px 0px 20px; } 
a.back:hover {background-position:0% -22px; border:0; border-right:solid 1px #53abe7; box-shadow:0 0 0; -webkit-box-shadow: 0 0 0; -moz-box-shadow:0 0 0; }
a.back:active {background-position:0% 100%; border:0; border-right:solid 1px #999; box-shadow:0 0 0; -webkit-box-shadow: 0 0 0; -moz-box-shadow:0 0 0; height:16px; padding:6px 12px 0px 20px; }

/*##########  FEED BUTTON  ##########*/
ul.feedbuttons { padding:12px 0px; }
ul.feedbuttons li { display:inline;list-style:none; clear:both; }
ul.feedbuttons li a.button { position:relative; background:none; text-shadow:0 0 0; color:#666; font-size:0.6em; border:0; height:19px; width:79%; padding:6px 10px 0px 29px; }
ul.feedbuttons li a.button:hover { color:#000; }
ul.feedbuttons li a.button span { width:20px; font-size:0.5em; text-align:center; position:absolute; text-shadow:0 0 0; padding:3px 0px; top:4px; left:4px; border-radius:100px; background:#666; color:#FFF; }
ul.feedbuttons li.selected a.button { color:#FFF; background:transparent url(../images/layout/button_feed_states.png) center right no-repeat; text-shadow:0 1px #000; border-top-left-radius:6px; -moz-border-radius-topleft:6px; border-bottom-left-radius:6px; -moz-border-radius-bottomleft:6px; }
ul.feedbuttons li.selected a.button span { color:#333; background:#FFF; }


/*##########################################################################*/
/*  Grid Views  */
/*##########################################################################*/

/*##########  GRAPHICAL ICON LISTS  ##########*/
ul.iconlist { margin:0px -8px; }
ul.iconlist li { list-style:none; float:left; margin:15px 6px; }
ul.iconlist li a { background:#eee; width:180px; height:210px; border:solid 1px #ccc; border-radius:12px; font-size:small; display:block; text-align:center; }
ul.iconlist li a:hover { background:#99ccff; border:solid 1px #3399cc; }
ul.iconlist li a h2 { color:#333 !important; background:none !important; padding:0px !important; margin:0px; font-weight:bold !important; text-align:center; }
ul.iconlist li a:hover h2 { }
ul.iconlist li a h3 { font-size:1em; font-weight:normal; margin:0px; padding:0px; text-align:center; }
div.iconlist_padding { padding:8px; }

/*##########  ICONS  ##########*/
div.ins { z-index:1; width:164px; height:130px; }
div.type-file, div.type-folder { margin-left:auto; margin-right:auto; text-align:center; }
div.type-folder img { border:0px !important; }
div.type-img img { border:solid 1px #666; }
div.type-file img { border:0px !important; }
div.f_icon { background:url(../images/icons/foldericon.png) center center no-repeat; width:50px; height:39px; margin:75px 0px 0px 110px; position:absolute; z-index:5; }
div.pdf_icon { background:url(../images/icons/pdficon.png) center center no-repeat; width:44px; height:45px; margin:75px 0px 0px 110px; position:absolute; z-index:5; }
div.img_icon { background:url(../images/icons/imageicon.png) center center no-repeat; width:46px; height:44px; margin:75px 0px 0px 110px; position:absolute; z-index:5; }


/*##########################################################################*/
/*  Form Minimals  */
/*##########################################################################*/

form h1 { clear:both; color:#333; font-size:1.35em; font-weight:normal; border-bottom:solid 1px #999; padding-top:22px; margin-bottom:14px; }
form .fields { padding-left:20px; }  /* this is the container of ALL fields on a particular content cell-based form */
form .field { clear:both; vertical-align:middle; }
form .field label { padding-top:7px; margin-bottom:12px; font-family:"Myriad Pro", Helvetica, Arial, sans-serif; width:110px; float:left; color:#666; font-size:1em; letter-spacing:-0em; text-align:right; padding-right:10px; }
form .field .inputs, form .field .fieldbox { float:left; margin-bottom:12px; }	 /* .inputs is the basic treatment for text fields and boxes */
form .field .inputs input, form .field .fieldbox input { width:600px; padding:2px; background:#fefefe url(../images/layout/forms/textfield_bg.png) top left repeat-x; border:solid 1px #999; }
form .field .inputs textarea { width:600px; height:100px; padding:2px; background:#fefefe url(../images/layout/forms/textfield_bg.png) top left repeat-x; border:solid 1px #999; }
form .field .inputs input.alert { border:solid 2px #cc3333; }  /* this is useful for calling attention to certain fields that may have failed validation; should be coupled with an inline validation message */
form .field .fieldbox { border:solid 1px #ccc; padding:4px 6px; border-radius:6px; -moz-border-radius:6px; } /* this is a special element to replace a .inputs div */
form .submit_bar { background:#FFF url(../images/layout/C/submit_bar_bg.png) top left repeat-x; margin-top:30px; padding:16px 20px; text-align:right; }

/* Special Rules */
.C-full.no .C-cont form .fields { padding:22px 0px; }


/*##########################################################################*/
/*  Modal Selectors  */
/*##########################################################################*/

.MS-frame {  }
.MS-frame h1 { color:#666; margin-left:30px; font-size:1.8em; text-shadow:0 1px #FFF; letter-spacing:-0.05em; margin-bottom:4px; }
.MS-outer { background:url(../images/layout/MS/outer.png) repeat; padding:6px; border-radius:20px; -moz-border-radius:20px; margin-bottom:22px; }
.MS-inner { background:url(../images/layout/MS/inner.png) repeat; border-radius:14px; -moz-border-radius:14px; padding:17px; }
.MS-inner ul.iconlist { margin:0px -6px; } 
.MS-inner ul.iconlist li { margin:0px 6px; }
.MS-inner ul.iconlist li a { color:#FFF; text-decoration:none; border-radius:8px; -moz-border-radius:8px; background:url(../images/layout/MS/iconlist_inactive.png) repeat; border:solid 1px #999; opacity:0.5; }
.MS-inner ul.iconlist li a:hover { opacity:1; }
.MS-inner ul.iconlist li a h2 { font-size:1.5em; color:#FFF !important; }



/*##########################################################################*/
/*##########################################################################*/
/*  SPECIFIC CSS  (minimize as much as possible)  */
/*##########################################################################*/
/*##########################################################################*/


/*##########################################################################*/
/*  Top Menu  */
/*##########################################################################*/

/*##########  STRUCTURE  ##########*/
#TM { position:absolute; z-index:50; width:100%; top:0px; left:0px; background:url(../images/layout/TM/TM_bg.png) top left repeat; }
a#TM-logobutton { z-index:100; width:96px; height:88px; background:url(../images/layout/TM/TM_logobutton.png) top left no-repeat; background-position:0px 0px; border:0px; display:block; position:absolute; top:0px; left:0px; }
a#TM-logobutton:hover { background-position:-96px 0px; }
table.TM-sec { height:69px; float:left; margin:0px; padding:0 4px; }
.TM-sectop { height:41px; }
.TM-secbot { /* height is 23px, but we don't need to specify that */ }
tr.TM-sectop td, tr.TM-secbot td { vertical-align:top; padding:0px 6px; }
tr.TM-sectop td { padding:3px 2px 5px 2px; }
.TM-secbot h1 { color:#666; font-size:0.6em; font-weight:400; text-shadow:0 0.05em #FFF; padding-top:5px; padding-left:3px; text-transform:uppercase; letter-spacing:0.3em; text-align:center; }
.TM-secline-left, .TM-secline-right { background:url(../images/layout/TM/TM_secline.png) top left no-repeat; width:2px; height:69px; padding:0px !important; }
.TM-secline-right { background-position:-2px 0px; }

/*##########  CASCADE OF BUTTON STYLES FOR MENU ITEMS  ##########*/
#TM ul.buttons li {display:inline;list-style:none;}
#TM ul.buttons li a.button {background:transparent url(../images/layout/TM/button_TM_states.png) top left repeat-x; box-shadow:0 0 0; -moz-box-shadow:0 0 0; -webkit-box-shadow:0 0 0; color:#666;text-shadow:0 1px #eee;letter-spacing:0em;font-size:0.8em;margin:0px 2px; height:24px; padding:7px 20px 0px 20px; font-weight:bold; border:solid 1px #999; border-radius:6px; -moz-border-radius:6px; }
#TM ul.buttons li a.button:hover {color:#000033; text-shadow:0 1px #eee; background-position:100% -31px; border:solid 1px #2f84da; }
#TM ul.buttons li a.button:active { color:#333;text-shadow:0 1px #eee; background-position:100% -62px; border:solid 1px #000; box-shadow:inset 0 0px 6px #000; -webkit-box-shadow:inset 0 0px 6px #000; -moz-box-shadow:inset 0 0px 6px #000; height:21px; padding:9px 20px 0px 20px; }
#TM ul.buttons li.selected a.button { box-shadow:inset 0 0px 6px #000; -webkit-box-shadow:inset 0 0px 10px #000; -moz-box-shadow:inset 0 0px 6px #000; text-decoration:none;text-shadow:0 -1px #333; color:#FFF; background-position:100% 100%; border:solid 1px #333; }

/*##########  LOGIN (LG)  ##########*/
#LG-inner { float:left; width:153px; height:69px; padding:0px 28px 0px 104px; background:url(../images/layout/LG_bluebg.png) top left no-repeat; }
#LG-inner div.TM-sectop p { color:#FFF; font-size:0.8em; text-shadow:0 -0.2em #000; padding-top:10px; }
#LG-inner div.TM-sectop p a { color:#FFF; }
#LG-inner div.TM-secbot p { color:#666; font-size:0.7em; text-shadow:0 0.05em #FFF; padding-top:5px; }
#LG-inner div.TM-secbot p a { font-weight:bold; color:#666; }