
/* slider root element */
.slider { 
	background:#E2E2E2 repeat-x 0 0; 
	height:6px; 
	position:relative; 
	cursor:pointer;
	border:1px solid #999999;
	width:250px;
	float:left; 
	margin-top:10px;
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	/*-moz-box-shadow:inset 0 0 8px #000;*/
}

/* progress bar (enabled with progress: true) */
.progress {
	height:9px;
	margin-left:50px;
	background-color:#C5FF00; 
	display:none;
	opacity:0.6;
}

/* drag handle */
.handle { 
	background:#fff url(../images/elements/slider.png) repeat-x 0 0; 
	height:28px;
	width:33px;
	top:-12px;
	position:absolute; 
	display:block; 
	margin-top:1px;
	border:0px solid #000;
	text-align: center;
	font-size:1.0em;
	font-weight:bold;
	letter-spacing:-0.07em;
	color:#FFFFFF;
	vertical-align:bottom;
	padding-top: 3px;
	text-decoration:none;
	text-shadow:0 -1px #003366;
}

/* the input field */
.range {
	border:1px inset #ddd;
	float:left;
	font-size:20px;
	margin:0 0 0 15px;
	padding:3px 0;
	text-align:center;
	width:50px;
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 		
}

html {
font-family:"Myriad Pro","Lucida Grande",Arial,sans-serif;
}

.left {
	float:left; 
	font-size:1.0em;
	letter-spacing:-0.07em;
	color:#999999;
	font-weight:500;
	width:85px;
	padding-top: 3px;

}
div.leftseconds {
	float:left;
	padding-right: 8px;
	color:#000000;
	padding-top: 3px;
	font-weight: 800;
}

div.rightseconds {
	float:left;
	padding-top: 3px;
	padding-left: 8px;
	color:#000000;
	font-weight: 800;

}
