<div class="span6">
  <% unless feeds.empty? %>
      <ul class="list-stacked">
        <% feeds.each do |feed| %>
            <% if feed %>
                <li>
                  <h3>
                    <%= link_to feed_submissions_path(feed), class: "link-hl" do %>
                        <span class="badge"><%= feed.approved_contents.active.count %></span> <%= feed.name %>
                    <% end %>
                    <small>&nbsp;&nbsp;<%= feed.description %></small>
                  </h3>
                </li>
            <% end %>
        <% end %>
      </ul>
  <% end %>
</div>
