<div class="viewblock-header_right">
  <div class="button-padding">
    <% if can? :update, @group %>
      <%= link_to t(:edit_model, :model => Group), edit_group_path(@group), :class => "btn" %>
    <% end %>
    <% if can? :delete, @group %>
      <%= link_to t(:destroy_model, :model => Group), @group, :data => { :confirm => t(:are_you_sure) }, :method => :delete, :class => "btn" %>
    <% end %>
  </div>
</div>

<div class="default-padding">
  <h1>
    <%= link_to t(:all_model, :model => Group.model_name.human.pluralize), groups_path %> &gt; 
    <%= @group.name %>
  </h1>
</div>