<section class="C-full no">
	<header>
		<%= back_button groups_path %>
		<h1>New Group</h1>
	</header>
	<div class="C-cont">
		<article>
			<%= render 'form' %>
		</article>
		<div class="clear"></div>
	</div>
</section>