<section class="viewblock">
  <header class="viewblock-header">
    <h1 class="default-padding"><%= t(:new_model, model: Group.model_name.human) %></h1>
  </header>
  <div class="viewblock-cont">
    <article>
      <div>
        <%= render partial: "form", locals: { button_text: t(:create_model, model: Group.model_name.human)} %>
      </div>
    </article>
  </div>
</section>