	<div class="C-header">
		<%= back_button groups_path %>
		<h1>New Group</h1>
	</div> 
	<div class="C-cont">
		<div class="C-center column">
			<%= render 'form' %>
		</div>
		<div class="clear"></div>
	</div>
