<div class="C-full no">
	<div class="C-header">
		<div class="C-header_back"><%= link_to "Back", groups_path, :class => "button back" %></div>
		<h1>New Group</h1>
	</div> 
	<div class="C-cont">
		<div class="C-center column">
			<%= render 'form' %>
		</div>
		<div class="clear"></div>
	</div>
</div>

