<section class="C">
  <header class="C-header" id="groups-header">
    <%= render :partial => "groups/show_header" %>
  </header>
  <div id="groups-body" class="C-cont">
    <%= render :partial => "groups/show_body" %>
  </div>
</section>
