<h1>Editing text blob</h1>

<%= render "form", text_blob: @text_blob %>

<br>

<div>
  <%= link_to "Show this text blob", @text_blob %> |
  <%= link_to "Back to text blobs", text_blobs_path %>
</div>
