<section class="viewblock">
  <header class="viewblock-header">
    <h1 class="default-padding">Edit User</h1>
  </header>
  <div class="viewblock-cont">
    <%= render :partial => 'users/form' %>
  </div>
</section>
