<section class="viewblock">
	<header class="viewblock-header">
		<h1 class="default-padding"><%= t(:new_model, :model => User.model_name.human) %></h1>
	</header>
	<div class="viewblock-cont">
        <%= render :partial => 'users/form' %>
        </div>
</section>
