<section class="viewblock">
	<header class="viewblock-header">
		<%= back_button users_path %>
		<h1 class="default-padding">New User</h1>
	</header>
	<div class="viewblock-cont">
		<%= render 'form' %>
		<div class="clear"></div>
	</div>
</section>