<section class="viewblock">
  <header class="viewblock-header" id="users-header">
    <%= render partial: "users/show_header" %>
  </header>
  <div id="users-body" class="viewblock-cont">
    <%= render partial: "users/show_body" %>
  </div>
</section>
