<section class="C">
  <header id="users-header">
    <%= render :partial => "users/show_header" %>
  </header>
  <div id="users-body" class="C-cont">
    <%= render :partial => "users/show_body" %>
  </div>
</section>
