<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Videos" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Videos</h1>
    <%= link_to "New video", new_video_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="videos" class="min-w-full">
    <% @videos.each do |video| %>
      <%= render video %>
      <p>
        <%= link_to "Show this video", video, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </p>
    <% end %>
  </div>
</div>
