@mixin rounded($topleft, $topright, $bottomright, $bottomleft) {
	// top left:
	border-top-left-radius:$topleft;
	-webkit-border-top-left-radius:$topleft;
	-moz-border-radius-topleft:$topleft;
	
	// top right:
	border-top-right-radius:$topright;
	-webkit-border-top-right-radius:$topright;
	-moz-border-radius-topright:$topright;
	
	// bottom left:
	border-bottom-left-radius:$bottomleft;
	-webkit-border-bottom-left-radius:$bottomleft;
	-moz-border-radius-bottomleft:$bottomleft;
	
	// bottom right:
	border-bottom-right-radius:$bottomright;
	-webkit-border-bottom-right-radius:$bottomright;
	-moz-border-radius-bottomright:$bottomright;
}

@mixin no-shadow {
	box-shadow: 0 0 0;
    -moz-box-shadow: 0 0 0;
    -webkit-box-shadow: 0 0 0;
}
