<div class="field">
  	<%= form.label :start_time %>
  	<div class="fieldbox">
		<%= form.text_field :start_time %>
	</div>
</div>
<div class="field">
  	<%= form.label :end_time %>
  	<div class="fieldbox">
		<%= form.text_field :end_time %>
	</div>
</div>