<%= form.label :duration, "Show on Screen" %>
<p style="font-size: 26px; line-height: normal;" class="event-toggleDurationSelect">8s&nbsp;&nbsp;<a href="#" style="font-size: 12px;">Change</a></p>

<div class="clearfix duration event-durationSelectDiv">
	<div class="input">
		<div class="leftseconds"><%= min %>s</div>
		<%= form.range_field :duration, {:min =>min, :max=>max, :class=>"duration_range"} %>
		<div class="rightseconds"><%= max %>s</div>
	</div>
</div>