<% content_for :js_ready do %>
  $("input#graphic_duration").rangeinput();
  var api = $(":range").data("rangeinput");
  seconds = api.getValue();
  seconds = seconds+"s";
  $(".handle").html(seconds);
  $(":range").bind({onSlide:function () {
    seconds = api.getValue();
    seconds = seconds+"s";
    $(".handle").html(seconds);
  }});
  $(":range").change(function() {
    seconds = api.getValue();
    seconds = seconds+"s";
    $(".handle").html(seconds);
  });
  $(".duration_range").hide();
<% end %>

<div class="clearfix">
	<%= form.label :duration %>
	<div class="input">
		<div class="leftseconds"><%= min %>s</div>
		<%= form.range_field :duration, {:min =>min, :max=>max, :class=>"duration_range"} %>
		<div class="rightseconds"><%= max %>s</div>
	</div>
</div>
