<section class="viewblock">
  <header class="viewblock-header">
    <h1 class="default-padding"><%= t(:new_model, model: Page.model_name.human) %></h1>
  </header>
  <div class="viewblock-cont">
    <%= render partial: 'pages/form' %>
  </div>
</section>
