<%= form_for([submission.feed, submission], :url => approve_feed_submission_path(submission.feed, submission)) do |f| %>
  <div class="clearfix">
    <%= f.label :duration %>
    <div class="input">
      <%= f.number_field :duration, :class => "span3" %>
    </div>
  </div>
  <%= f.submit "Moderate Content", :class => "btn primary" %>
<% end %>
