<%= form_for([submission.feed, submission], :url => deny_feed_submission_path(submission.feed, @submission)) do |f| %>
  <div class="clearfix">
    <label>Moderator</label>
    <div class="input">
      <%= select_tag "user_id", options_from_collection_for_select(User.all, "id", "name"), :class => "span3" %>
    </div>
  </div>
  <%= f.submit "Moderate Content", :class => "btn primary" %>
<% end %>
