<h1 id="contentlist">
  <%= link_to "All Feeds", feeds_path, :remote => true %> &gt; 
  <% @feed.ancestors.reverse.each do |ancestor_feed| %>
    <%= link_to ancestor_feed.name, feed_submissions_path(ancestor_feed), :remote => true %> &gt; 
  <% end %>
  <%= @feed.name %>
</h1>
