<h1 class="default-padding" id="contentlist">
  <%= link_to "All Feeds", feeds_path, :remote => true %> &gt; 
  <% @submission.feed.ancestors.reverse.each do |ancestor_feed| %>
  <%= link_to ancestor_feed.name, feed_submissions_path(ancestor_feed), :remote => true %> &gt; 
  <% end %>
  <%= link_to @submission.feed.name, feed_submissions_path(@submission.feed), :remote => true %> &gt; 
  <%= @submission.content.name %>
</h1>
