<article>
  <div class="content-holder">
		<%= render_content(@submission.content) %>
	</div>
</article>
<aside>
  <% if can? :update, @submission %>
  <div class="form-stacked">
    <h4>Moderate Content</h4>
    <div id="moderate-select" class="btn-toolbar">
      <div class="btn-group" data-toggle="buttons-radio">
        <button class="btn approve">Approve</button>
        <button class="btn deny">Deny</button>
      </div>
    </div>

    <div id="moderate-include"></div>
  </div>
  <% end %> 

	<br />
	<b>Approved?:</b>
  <%= @submission.moderation_flag %>
	<br />
	<b>Feed:</b>
  <%= @submission.feed.name unless @submission.feed.nil? %>
			
</aside>
<div class="clear"></div>
