<div id="<%= dom_id submission %>">
  <p>
    <strong>Content:</strong>
    <%= link_to submission.content.name, submission.content %>
  </p>

  <p>
    <strong>Feed:</strong>
    <%= link_to submission.feed.name, submission.feed %>
  </p>

</div>
