<%= link_to [submission.feed, submission] do %>
<div class="tile">
  <div class="tile-content">
    <%= render_content(submission.content, {:type => 'tile'}) %>
  </div>
  <div class="brand">
    <% if not submission.content.children.empty? %>
      <div class="count">x <%= submission.content.children.active.size %></div>
    <% end %>
  </div>
</div>
<% end %>
