<%= link_to [submission.feed, submission] do %>
<div class="tile">
  <div class="tile-content">
    <%= render_content(submission.content) %>
  </div>
  <div class="brand">
    <% if not submission.content.children.empty? %>
      <div class="count">x 2</div>
    <% end %>
  </div>
</div>
<% end %>