<%= link_to [submission.feed, submission] do %>
<div class="tile <% if not submission.content.children.empty? %>tile-stack<% end %>">
  <div class="tile-content">
    <%= render_content(submission.content, {:type => 'tile'}) %>
  </div>
  <div class="brand">
    <% # Note: The line below is extra verbose for performance reasons.  See #483. %>
    <% if !submission.content.children.empty? &&
          !submission.content.children.active.empty? %>
      <div class="count">x <%= submission.content.children.active.size %></div>
    <% end %>
  </div>
</div>
<% end %>
