<section class="C no">
  <header>
    <div id="browse-header">
      <%= render :partial => "submissions/index_header" %>
    </div>
  </header>
  <div class="C-cont">
    <div id="browse-body">
      <%= render :partial => "submissions/index_body" %>
    </div>
  </div>
</section>
