<section class="viewblock">
  <header id="browse-header" class="viewblock-header">
    <%= render :partial => "submissions/index_header" %>
  </header>
  <div id="browse-body" class="viewblock-cont">
    <%= render :partial => "submissions/index_body" %>
    <div class="clear"></div>
  </div>
</section>
