<section class="C no">
  <header id="browse-header">
    <%= render :partial => "submissions/feed_header" %>
  </header>
  <div class="C-cont">
    <article id="browse-content">
      <%= render :partial => "submissions/feed_content" %>
    </article>
    <div class="clear"></div>
  </div>
</section>
