<section class="C">
  <header id="browse-header" class="C-header">
    <%= render :partial => "submissions/index_header" %>
  </header>
  <div id="browse-body" class="C-cont">
    <%= render :partial => "submissions/index_body" %>
    <div class="clear"></div>
  </div>
</section>
