<section class="C">
	<header class="C-header" id="browse-header">
    <%= render :partial => "submissions/show_header" %>
  </header> 
	<div class="C-cont" id="browse-body">
    <%= render :partial => "submissions/show_body" %>
    <div class="clear"></div>
	</div>
</section>
