
<%= render @submission %>

<div>
  <% if policy(@submission).edit? %>
    <%= link_to "Edit this submission", edit_submission_path(@submission) %> |
  <% end %>
  <%= link_to "Back to submissions", submissions_path %>

  <% if policy(@submission).destroy? %>
    <%= button_to "Remove this submission", @submission, method: :delete %>
  <% end %>
</div>
