<section class="viewblock">
	<header class="viewblock-header" id="browse-header">
    <%= render :partial => "submissions/show_header" %>
  </header> 
	<div class="viewblock-cont" id="browse-body">
    <%= render :partial => "submissions/show_body" %>
    
	</div>
</section>
