<section class="C">
	<header>
    <div id="browse-header">
      <%= render :partial => "submissions/show_header" %>
    </div>
	</header> 
	<div class="C-cont">
    <div id="browse-body">
      <%= render :partial => "submissions/show_body" %>
    </div>
	</div>
</section>
