<section class="C">
	<header id="browse-header">
		<%= render :partial => "submissions/content_header" %>
	</header> 
	<div id="browse-body" class="C-cont">
		<%= render :partial => "submissions/content_body" %>
	</div>
</section>
