<div id="<%= dom_id rich_text %>">
  <div class="p-2 m-2 border-solid border-2 border-black">
    <%= rich_text.text %>
  </div>

  <%= render "contents/show_details", content: rich_text do %>
    <div class="px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
      <dt class="text-sm/6 font-medium text-gray-900">Render As:</dt>
      <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0"><%= rich_text.render_as %></dd>
    </div>
  <% end %>
</div>
