<h1>Editing rich text</h1>

<%= render "form", rich_text: @rich_text %>

<br>

<div>
  <%= link_to "Show this rich text", @rich_text %> |
  <%= link_to "Back to rich texts", rich_texts_path %>
</div>
