base_locale: en
locales:
- en
- nl
- fr
data:
  adapter: I18n::Tasks::Data::FileSystem
  read:
  - config/locales/%{locale}.yml
  - config/locales/devise.%{locale}.yml
  - config/locales/controllers/%{locale}.yml
  - config/locales/views/*/%{locale}.yml
  write:
  - config/locales/%{locale}.yml
  base_locale: en
relative_roots:
- app/views
search:
  scanner: I18n::Tasks::Scanners::PatternWithScopeScanner
  relative_roots:
  - app/views
  paths:
  - app/
  exclude:
  - ! '*.jpg'
  - ! '*.png'
  - ! '*.gif'
  - ! '*.svg'
  - ! '*.ico'
  - ! '*.eot'
  - ! '*.ttf'
  - ! '*.woff'
  - ! '*.pdf'
