<fieldset>
  <legend><span><%=t('.type_your_message')%></span></legend>

  <div class="clearfix">

    <%= form.text_area :data, :class => 'word_count fillWidth', :rows => 3, :autofocus => true, "data-url" => preview_contents_path %>
    <div class="row-fluid">
      <div class="span6">
        <span id="char_count">0</span> <%= t('.characters') %>
      </div>
      <div class="span6" style="text-align: right;">
        <%= tooltip_tag(t('.allowed_html'), "Some HTML is allowed in this field ", { :class => "tooltip-basic" }) %>
      </div>
    </div>
  </div>

</fieldset>
