<div class="content-ticker">
  <p class="quotemarks-top"><i class="icon-quote-left icon-large muted"></i></p>
  <p><%= content.data.html_safe %></p>
  <p class="quotemarks-bottom"><i class="icon-quote-right icon-large muted"></i></p>
</div>
