<div class="content-ticker">
  <p class="quotemarks-top">"</p>
  <p><%= content.data.html_safe %></p>
  <p class="quotemarks-bottom">"</p>
</div>
<% # showing html elements in the tile is intentional -%>