<section class="viewblock">
  <div class="viewblock-cont">
    <div class="default-padding" style="padding-top: 50px; padding-bottom: 50px;">
      <div class="row-fluid">
        <div class="span4 center">
          <%= image_tag("miniscreen/404_screen.png", alt: "404", width: "298", style: "max-width: 90%;") %>
          <h1 style="font-size: 6em; color: #000; letter-spacing: -0.025em;">404</h1>
          <br />
        </div>
        <div class="span8">
          <h1 style="font-size: 4em; letter-spacing: -0.025em;">
            <%= t('.content_not_found') %>
          </h1>
          <br />
          <h2><%= t('.error_message')%></h2>
          <br />
          <%= link_to t('.abort'), :back, class: "btn btn-large" %>
        </div>
      </div>
    </div>
  </div>
</section>