<div id="<%= dom_id subscription %>">
  <p>
    <strong>Screen:</strong>
    <%= subscription.screen.name %>
  </p>

  <p>
    <strong>Field:</strong>
    <%= subscription.field.name %>
  </p>

  <p>
    <strong>Feed:</strong>
    <%= subscription.feed.name %>
  </p>

</div>
