<div id="<%= dom_id subscription %>"class="p-4 border-2 bg-white my-4">
  <div class="text-lg font-medium"><%= subscription.feed.name %></div>
  <%= button_to "Unsubscribe", [@screen, subscription], method: :delete, class: "btn" %>
</div>
