<h1><%= @this_field.name %></h1>
<% @this_field.subscriptions.where(:screen_id => @screen.id).each do |subscription| %>
  <%= render subscription %>
  <!-- :partial => 'manage', :locals => {:screen => @screen, :subscription => subscription} %> -->
<% end %>
<% feeds = Feed.subscribable(@screen, @this_field) %>
<%#= render :partial => 'manage', :locals => {:screen => @screen, :subscription => Subscription.new(:field => @this_field), :feeds => feeds} unless feeds.empty? %>
