<% if params[:no_content_cell] %>
  <div class="form-stacked">
    <%= render 'form' %>
  </div>
<% else %>
  <% if flash[:alert] %>
    <p class="alert"><%= alert %></p>
  <% end %>
  <section class="viewblock no">
  	<header class="viewblock-header">
  		<h1 class="default-padding">Sign In</h1>
  	</header>
  	<div class="viewblock-cont">
  			<%= render 'form' %>
  	</div>
  </section>
<% end %>

