/*##########################################################################*/
/*  Top Menu  */
/*##########################################################################*/


@import "../base/variables";
@import "../base/mixins";
@import "../controls/buttons";

//////////////////

/*##########  STRUCTURE  ##########*/

nav#TM {
	position: absolute;
  	z-index: 50;
  	width: 100%;
  	top: 0px;
  	left: 0px;
  	background: url(/assets/layout/TM/TM_bg.png) top left repeat;
	height:69px; 
	
  	a.button {
		@extend a.button;  // uses a.button as a template, which in turn uses button-base mixin

		// custom attributes:
		@include rounded(6px, 6px, 6px, 6px);
		background: transparent url(/assets/layout/TM/button_TM_states.png) top left repeat-x;
    	color: #666;
    	text-shadow: 0 1px #eee;
    	margin: 0px 2px;
    	height: 23px;
    	padding: 7px 20px 0px 20px;
    	border: solid 1px #999;

    	&:hover {
      		text-shadow: 0 1px #eee;
      		background-position: 100% -31px;
      		border: solid 1px #2f84da; 
		}

    	&:active {
      		background-position: 100% -62px;
      		border: solid 1px #333;
			height: 22px;
      		padding: 8px 20px 0px 20px; 
		}

		&:visited {
			color:#666;
		}
		
		&.selected {
			@include box-shadow(inset 0 0 10px #000);
	    	text-decoration: none;
	    	text-shadow: 0 -1px #333333;
	    	color: #FFF;
	    	background-position: 100% 100%;
	    	border: solid 1px #333;
	
			&:active {
				color:#FFF;
				padding: 7px 20px 0px 20px;
				height:23px;
			}
		}
	}
	
	a#TM-logobutton {
	  	z-index: 100;
	  	width: 96px;
	  	height: 88px;
	  	background: url(/assets/layout/TM/TM_logobutton.png) top left no-repeat;
	  	background-position: 0px 0px;
	  	border: 0px;
	  	display: block;
	  	position: absolute;
	  	top: 0px;
	  	left: 0px;
	
	  	&:hover {
	    	background-position: -96px 0px; 
		} 
	}
	
	// each part of the menu is a "section"
	section {	
		border-right:solid 1px #ccc; 
		height: 59px;
	  	float: left;
	  	margin: 0px;
		padding: 4px 2px 0px 2px;
	
		.TM-sectop {
		  	height: 38px; 
		}
		
		.TM-secbot {
			h1 {
				color: #666;
			  	font-size: 0.6em;
			  	font-weight: 400;
			  	text-shadow: 0 0.05em #FFF;
			  	padding-top: 6px;
			  	text-transform: uppercase;
			  	letter-spacing: 0.3em;
			  	text-align: center;
			}
		}
		
		// applies only to login section (leftmost in top menu)
		&#LG-inner {
		  	float: left;
		  	width: 153px;
		  	height: 60px;
		  	padding: 3px 28px 0px 104px;
		  	background: url(/assets/layout/LG_bluebg.png) top left no-repeat;
		
		  	div.TM-sectop p {
	      		color: #FFF;
	      		font-size: 0.8em;
	      		text-shadow: 0 -0.2em black;
	      		padding-top: 10px;
	
	      		a {
	        		color: #FFF; 
				} 
			}
		    
			div.TM-secbot p {
	      		color: #666;
	      		font-size: 0.7em;
	      		text-shadow: 0 0.05em #FFF;
	      		padding-top: 5px;
	
	      		a {
	        		font-weight: bold;
	        		color: #666; 
				} 
			} 

		}
		
	}
}
