//////////////////

$sans-headers: "Myriad Pro", Helvetica, Arial, sans-serif;
$sans-body: "Lucida Grande",Arial,sans-serif;
$main-width: 980px;
$concerto-blue: #006699;


/* Common Inheritance */

.wrap {
	width: $main-width;
  	margin: 0 auto; 
}

.caps {
  	text-transform: uppercase; 
}

.spaced {
  	letter-spacing: .12em; 
}

.center {
  	text-align: center; 
}

.larger {
  	font-size: 1.2em; 
}

.emboss {
  	text-shadow: 0 1px 1px #FFF; 
}

.nomargin {
  	margin: 0 !important; 
}

.clear {
	clear: both; 
}