<div id="<%= dom_id rss_feed %>">
  <p>
    <strong>Name:</strong>
    <%= rss_feed.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= rss_feed.description %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= rss_feed.url %>
  </p>

</div>
