/*
 *= require_self
 *= require_tree .
*/

@import "font-awesome-sprockets";
@import "font-awesome";

/*
 * A basic reset for the screen frontend.
 */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
}
