<p>Recent Activity</p>
<% if current_user %>
  <ul>
  <% @activities.each do |activity| %>
    <div class="activity">
      <li><%= render_activity activity %></li>
    </div>
  <% end %>
  </ul>
<% end %>