<div class="subnav clearfix">
  <ul class="nav nav-tabs">
    <li>
      <%= link_to dashboard_path do %>
          <i class="ficon-cog"></i><%= t :global_preferences %>
      <% end %>
    </li>
    <li class="active">
      <%= link_to concerto_plugins_path do %>
          <i class="ficon-bolt"></i><%= t 'concerto_plugins.manage_plugins' %>
      <% end %>
    </li>
  </ul>
</div>
