<%= render :partial => 'dashboard/admin_stats' %>

<section class="viewblock">
  <header class="viewblock-header">
    <h1 class="default-padding">
      <%= t :new_model, :model => ConcertoPlugin.model_name.human %>
    </h1>
  </header>
  <div class="viewblock-cont" style="min-height: 600px;">
    <%= render :partial => 'plugins_navigation' %>
    <%= render :partial => 'form', :locals => { :button_text => t(:create_model, :model => ConcertoPlugin.model_name.human) } %>
  </div>
</section>
