/* Concerto 2 - CSS: BASE */
/* Designed by the Concerto 2 Core Team (http://concerto-signage.org) in 2011. */



/*##########################################################################*/
/*  Frame and Resets  */
/*##########################################################################*/

html {
  color: #000;
  background: #eeeeee url(../assets/layout/pagebg.gif) center center repeat;
  font-family: "Lucida Grande",Arial,sans-serif; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
  font-size: 100%; }

body {
  min-width: 800px; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, b, th, var, optgroup {
  font-style: inherit;
  font-weight: inherit; }

del, ins {
  text-decoration: none; }

li {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q {
  &:before, &:after {
    content: ''; } }

abbr {
  border: 0;
  font-variant: normal; }

sup, sub {
  vertical-align: baseline; }

b, strong {
  font-weight: bold; }

legend {
  color: #000; }

input, button, textarea, select, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit; }

input, button, textarea, select {
  *font-size: 100%; }

small {
  font-size: 0.6em; }

a {
  color: #006699;
  text-decoration: none;
  font-weight: bold;
  &:hover {
    text-decoration: underline; }
  &:visited {
    color: #9d11b3; } }

#main {
  padding: 100px 3% 10px 3%; }

.clear {
  clear: both; }

/*##########################################################################*/
/*  Headers  */
/*##########################################################################*/

h1, h2, h3, h4, h5, h6, h7 {
  font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
  line-height: normal; }

h1 {
  font-size: 3em;
  font-weight: 400;
  &.header {
    text-transform: uppercase;
    font-size: 1.3em;
    letter-spacing: 0.15em;
    padding: 6px 0;
    margin-bottom: 16px; }
  &.indented {
    padding-left: 8px !important; }
  &.subpage_header {
    font-size: 3em;
    margin-bottom: 8px !important; }
  small {
    padding-left: 12px; } }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 2em; }

h4 {
  font-size: 1.7em; }

h5 {
  font-size: 1.3em; }

