<div id="<%= dom_id graphic %>">
  <div>
    <%= link_to graphic.image do %>
      <%= image_tag graphic.image, size: "600", class: "m-auto" %>
    <% end %>
  </div>

  <%= render "contents/show_details", content: graphic %>
</div>
