<% if content.image.attached? && content.image.variable? %>
  <%= image_tag content.image.variant(:grid), class: "object-contain" %>
<% else %>
  <div class="flex h-full items-center justify-center text-xs text-gray-400">Processing&hellip;</div>
<% end %>
