.groups-list {
  list-style: none;
  margin-left: 0;

  > li {
    margin-top: 1em;
  }
}

ul.members-list {
  margin-top: .5em;
  margin-bottom: .5em;
  display: grid;
  grid-template-columns: repeat(auto-fit, 18em);
  grid-gap: .25rem;

  li.members-item, li.screens-item, li.templates-item, li.feeds-item {
    list-style: none;

    i[class^="concertocon-"],
    i[class*=" concertocon-"] {
      font-size: inherit;
      line-height: inherit;
    }
  
    font-size: 14px;
  }

}
