ul.fields {
  list-style: none;
  margin-left: 1em;

  li {
    text-transform: uppercase;
    margin-bottom: 1em;
  }
}

ul.field-details {
  list-style: none;
  margin-left: 0;

  li {
    text-transform: none;
    margin-bottom: auto;

    &.feeds-item {
      .description, .subfeeds {
        display: none;
      }
    }
  }
}

ul.single-item {
  margin-top: 0;
  margin-left: 0;

  .templates-item {
  // see similar css in groups.scss -- todo! use mixin?
    .thumb-icon {
      float: left;
      padding-right: .5em;
    }
  
    .title {
      b {
        font-weight: normal;
      }
    }
    
    .author, .screens-count {
      display: none;
    }
  }
}