.approval {
  text-align: center;
  padding: 12px 0px;
}

.approval-info {
  width: 800px !important;
  margin: 0 auto;
}

.content-ticker {
  background: $grayLightest;
  border: solid 1px $grayLight;
  text-align: center;
  padding: 50px 20px 40px 20px;
  @include border-radius(6px);
  position: relative;

  p {
    font-size: 3em;
    line-height: normal;
  }

  .quotemarks-top, .quotemarks-bottom {
    position: absolute;
    @include serif-font(bold, 30px, normal);
  }
  .quotemarks-top {
    top: 15px;
    left: 15px;
  }
  .quotemarks-bottom {
    bottom: 0px;
    right: 15px;
  }
}

div.tile div.brand i[class*=ficon-] {
  background: $gray;
  padding: 2px;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  z-index: 2;
}