.is_orphan {
  color: gray;
}

.is_approved {
  color: green;
}

.is_pending {
  color: blue;
}

.is_denied {
  color: red;
}

.group-leader {
  color: lighten($green, 40%);
}

.group-member {
  color: $grayLighter;
}