.is_orphan {
  color: gray;
}

.is_approved {
  color: green;
}

.is_pending {
  color: blue;
}

.is_denied {
  color: red;
}

.group-leader {
  color: lighten($green, 40%);
}

.group-member {
  color: $grayLighter;
}

.grid-item {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  margin-bottom: 6px;
}

.grid-item i { 
  text-align: center;
  padding-top: 10px;
  margin: auto;
  display: block;
}

.orange {
  color: lighten($orange, 10%);
}

.users-index {
  i.concertocon-user-admin, i.concertocon-user-leader {
    font-size: inherit;
  }

  ul.groups-list {
    margin-left: 0;

    li {
      float: left;
      padding-right: 2em;
    }

    li:first-child {
      list-style-type: none;
    }
  }
}