.is_orphan {
  color: gray;
}

.is_approved {
  color: green;
}

.is_pending {
  color: blue;
}

.is_denied {
  color: red;
}

.group-leader {
  color: lighten($green, 40%);
}

.group-member {
  color: $grayLighter;
}

.grid-item {
  width: 60px;
  height: 60px;
}

.grid-item i { 
  text-align: center;
  padding-top: 10px;
  margin: auto;
  display: block;
}

.orange {
  color: lighten($orange, 10%);
}