<!DOCTYPE html>
<html>
<head>
  <title>Concerto - Open Source Digital Signage</title>
  <%= csrf_meta_tag %>
  <script src="/frontend_js/closure-library/closure/goog/base.js"></script>
  <script src="/frontend_js/hello.js"></script>
</head>
<body onLoad="sayHi()">
</body>
</html>
